p {
    font-family: monospace;
}

body {
  background-color: rgb(209, 209, 209);
  font-family: Courier, monospace;
}

h1 {
  font-family: Courier, monospace;
  font-size: 25px;
  margin: 10px 1px 1px 1px;
}

h3 {
  text-align: center;
}

a {
  text-decoration: none;
}

#banner h2 {
  font-family: Courier, monospace;
  font-size: 15px;
  padding: 5px;
  margin: 1px 1px 1px 40px;
}

#card-movies h2 {
  font-family: Courier, monospace;
  font-size: 25px;
}


#profil-pic {
  width: 200px;
  height: 200px;
  border-radius: 100px;
}


.movie-jacket {
  width: 150px;
  height: 200px;
  border-radius: 20px;
  border: 1px solid lightgrey;
}

#sidebar {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0px;
  bottom: 0;
}

.container {
 /* margin-left: 300px;*/
  margin: 0 auto;
  text-align: center;
  padding: 32px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(images/back.jpg);
}

#card-movies {
  width: 900px;        /* Set the width */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.50);
  border-radius: 20px;
}

#community ul {
  height: 50px
  margin : 30px;
}


#community li {
  display: inline-block;
  padding: 0px 20px;
}

#community ul {
  text-align: center;
  justify-content: center;
  font-family: Arial, sans-sherif;
  font-weight: bolder;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
  #movies {
    width: 600px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
    #movies {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
    #movies {
    width: 200px;
    flex-direction: column;
  }
}
